.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.title{
    margin-bottom: 20px;
    font-weight: 200;
    color:var(--textSoft);
}

.table{
    width: 100%;
}

.table td{
    padding: 10px;
}

.user{
    display: flex;
    gap:10px;
    align-items: center;
}

.userImage{
    border-radius: 50%;
    object-fit: cover;
}

.status{
    border-radius: 5px;
    padding: 5px;
    font-style: 14px;
    color: white;
}

.pending{
    background-color: cornflowerblue;
}

.done{
    background-color: green;
}

.cancelled{
    background-color: red;
}